**.terraform/
**terraform.tfstate
**terraform.tfstate.backup**
**.terraform.lock.hcl
**ignore.auto.tfvars
**tfplan
**gcp-credentials/
**logs/
**log/
.vscode
microservices/ace_agent/4.1/deploy/docker/docker_init.sh
